body{
	margin: 0;
	font-family:'Source Code Pro', monospace;
	background: url('fotosweb/fondo.jpg') no-repeat center center fixed;
	background-size: cover;

}

#wrapper{
	width: 90%;
	height: auto;
	margin: 0 auto;
	padding: 12px;
}

#title{
	font-size:48px;

}

#rosas{
	width: 100%;
	height: auto;

}

#one{
	width: 30%;
	display: inline-block;
	padding: 12px;
}

#two{
	width: 30%;
	display: inline-block;
	padding: 12px;
	
}

#three{
	width: 30%;
	display: inline-block;
	padding: 12px;
}

#one .circle-image{
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background: url('fotosweb/girasol.jpg');

}

#two .circle-image{
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background: red;
		background: url('fotosweb/margaritas.jpg');

}

#three .circle-image{
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background: yellow;
		background: url('fotosweb/rosa.jpg');

}
